<div class="footer mt-auto">
    <div class="flex-row-cc">
        <div class="logo-youtube">
            <a href="https://www.youtube.com/channel/UC9Hl37t2Dke7ykUjPd0mejA" target="_blank" style="text-decoration:none"><img src="~/Images/youtube.png" width="30px" height="30px" /></a>
        </div>
        <div class="logo-twitter">
            <a href="https://x.com/andhrapradeshcm?lang=en" target="_blank" style="text-decoration:none"><img src="~/Images/twitter.png" width="30px" height="30px" /></a>
        </div>
        <div class="logo-facebook">
            <a href="https://www.facebook.com/AndhraPradeshCM/" target="_blank" style="text-decoration:none"><img src="~/Images/facebook.png" width="30px" height="30px" /></a>
        </div>
        <div class="logo-instagram">
            <a href="https://www.instagram.com/advantage_apgov/" target="_blank" style="text-decoration:none"><img src="~/Images/instagram.png" width="30px" height="30px" /></a>
        </div>
    </div>
    <span class="playcine-media-direct">© 2024 Govt Of Andhra Pradesh. All rights reserved</span>
    <div class="footer-wrapper">
        <div class="menu-item"><a href="https://gramawardsachivalayam.ap.gov.in/GSWS/Home/Main" target="_blank" class="legacy-notices" style="text-decoration:none;color:aliceblue">Grama Sachivalayam</a></div>
        <div class="menu-item"><a href="https://apcos.ap.gov.in" target="_blank" class="gift-cards" style="text-decoration:none;color:aliceblue">APCOS</a></div>
        <div class="menu-item"><a href="https://www.india.gov.in/" target="_blank" class="media-center" style="text-decoration:none;color:aliceblue">India.gov.in</a></div>
        <div class="menu-item"><a href="https://apcmrf.ap.gov.in" target="_blank" class="media-center-17" style="text-decoration:none;color:aliceblue">CM Relief Fund</a></div>
        <div class="menu-item"><a href="https://connect.ap.gov.in" target="_blank" class="connect-andhra" style="text-decoration:none;color:aliceblue">Connect Andhra</a></div>
        <div class="menu-item"><a href="https://www.indiacode.nic.in/" target="_blank" class="india-code" style="text-decoration:none;color:aliceblue">India Code</a></div>
    </div>
</div>