@inject UserManager<Citizen> citizenManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Images/ap-logo.png" />
    <link rel="stylesheet" href="~/css/GovConnect.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJ6H5f6O5Q9w6YF7L1h8wL2Zw8z57ZyD6gDqg6uJek1V5dq5de1lfdJgn1F9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-light min-vh-100">
    
    <div class="custom-header">
        <div class="custom-gov-connect">
            <span class="custom-g">G</span><span class="custom-ov">ov</span><span class="custom-g-5">C</span><span class="custom-connect">onnect</span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            string profilePic = "~/Images/Elon.png";
            var user = await citizenManager.GetUserAsync(User);
            @if (user != null && user.Profilepic != null && user.Profilepic.Length > 0)
            {
                var base64String = Convert.ToBase64String(user.Profilepic);
                profilePic = $"data:image/jpeg;base64,{base64String}";
            }
            <div class="custom-dropdown hover-dropdown">
                <button class="btn btn-link text-decoration-none" type="button" id="profileDropdown" aria-expanded="false">
                    <img src="@profilePic" alt="Profile" class="rounded-circle" width="40" height="40" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" asp-controller="Officer" asp-action="Logout">Logout</a></li>
                </ul>
            </div>
        }
        else
        {
            <a asp-controller="Citizen" asp-action="Login" class="custom-button text-decoration-none"><span class="custom-try-free">Login</span></a>
        }
    </div>

    <!-- Content Body -->
    <div class="container mt-4">
        @RenderBody()
    </div>

    @{
        await Html.RenderPartialAsync("_footerPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
