@{
    Layout = "_Gov_Layout";
}
<body>
    <div class="container text-center mt-5" style="margin-bottom:98px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-5 shadow-lg">
                    <div class="card-body">
                        <h1 class="display-4 text-danger">
                            Oops! 500 - Internal Server Error
                        </h1>
                        <p class="lead">Sorry, something went wrong on our end.</p>
                        <p>
                            We are working on fixing the issue. Please try again later.
                        </p>
                        <a asp-controller="Scheme" asp-action="Index" class="btn btn-primary">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
