.custom-bg {
    background-color: #E5E7EB;
    border-radius: 15px;
}

.custom-border {
    border-radius: 15px;
}

.custom-border {
}

    .custom-border:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.custom-border {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
