.custom-home-bg {
    background-color: #E5E7EB;
    border-radius: 15px;
}

.custom-process-bg {
    background-color: #E5E7EB;
    border-radius: 15px;
}

.custom-rounded-rectangle {
    border-radius: 10px;
}

.custom-list-group {
    list-style-type: none;
    padding-left: 0;
}

.custom-process-border {
    border-radius: 15px;
}

.custom-process-border:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.custom-process-border {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.custom-stats-bg {
    background-color: #E5E7EB;
    border-radius: 15px;
}

.custom-stat-card {
    border-radius: 15px;
}

    .custom-stat-card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.custom-stat-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
